* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    font-weight: center;
    color: #5AA100;
    text-transform: uppercase;

}

.link{
    display: flex;/** permet de mettre les éléments en ligne */
    flex-direction: column;/** permet de mettre les éléments en colonne not-reverse est a gauche  de base*/
    float: right;
    margin-right: 25px;
    gap: 25px;/** espace entre les éléments de la colonne */
}
    .link a{
        text-decoration: none;
        color: #FFF;
        font-family: JejuHallasan;
        font-size: 20px;
        font-style: normal;
        font-weight:0 ;
        line-height: normal;
        gap: 20px;
        text-transform: uppercase;/*mettre en majuscule */
    }
    
    
.lioncontainer {
    background-image: url('./animaux_zoo/lion.svg');
    background-size: 100%, 100%;
    background-position: center;
    background-repeat: no-repeat;
    animation: changeBackground 45s infinite;
}

@keyframes changeBackground {
    0% {
        background-image: url('/animaux_zoo/lion.webp');
        background-size: cover;
        height: 100vh;
        
    }
    33.33% {
        background-image: url('./animaux_zoo/suiteelephant.webp');
        background-size: cover;
        height: 100vh;
    }
    66.66% {
        background-image: url('./photo-habitat/marais2.webp');
        background-size: cover;
        height: 100vh;
    }
    100% {background-image: url('./animaux_zoo/lion.webp');
        background-size:cover;
        height: 100vh;

    }
}

.logo {
    margin: 40px;
}
@media only screen and (max-width: 768px) {
        /* Remplacez 768px par la taille appropriée pour votre design mobile */
        .logo {
            margin: 0; /* Désactive les marges */
        }
    }
