* {
    margin: 0;
}

h1 {
 display: none;
}

.lioncontainer {
    background-color: darkolivegreen;
    width: 100%;
    background-image: url('./animaux_zoo/lion.svg');
    background-size: contain;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    animation: changeBackground 45s infinite;
}


@keyframes changeBackground {
    0% {
        background-image: url('/animaux_zoo/lion.webp');
        background-size: contain;
        height: 100px;
        width: 100vw;
        
    }
    33.33% {
        background-image: url('./photo-habitat/jungle1.webp');
        background-size: contain;
        height: 100vh;
        width: 100vw;
    }
    66.66% {
        background-image: url('./photo-habitat/marais2.webp');
        background-size: contain;
        height: 100vh;
        width: 100vw;
    }
    100% {background-image: url('./animaux_zoo/lion.webp');
        background-size: contain;
        height: 100vh;
        width: 100vw;
    }
}


.logo img {
    display: flex;
    position: relative;
    top: 40px;
    left: 40px;
    width: 450px;
}


.link{
    display: flex;/** permet de mettre les éléments en ligne */
    flex-direction: column;/** permet de mettre les éléments en colonne not-reverse est a gauche  de base*/
    float: right;
    position:relative;
    top: 20px;
    margin-right: 2%;


}
    .link a{
        text-decoration: none;
        margin-top: 15px;
        color: #FFF;
        font-family: JejuHallasan;
        font-size: 30px;
        font-style: normal;
        font-weight:10 ;
        line-height: normal;
        text-transform: uppercase;/*mettre en majuscule */
    }
    
    




