h1{font-weight: normal;
color: #5AA100;
font-family: JejuHallasan;
font-size: 100px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
/* style et couleur pour le titre di site */
h2,h3,h4,h5{font-weight: normal;color: #1a1818;
    font-family: JejuHallasan;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
