* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    font-weight: normal;
    opacity: 0.5;
    color: #5AA100;
    font-family: JejuHallasan;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link{
    display: flex;/** permet de mettre les éléments en ligne */
    flex-direction: column-reverse;/** permet de mettre les éléments en colonne not-reverse est a gauche  de base*/
    flex-wrap: wrap;/** permet de faire passer les éléments à la ligne */
    float: right;/** position de la colonne du menu */
    gap: 30px;/** espace entre les éléments */
    }
    .link a{
        color: #FFF;
        font-family: JejuHallasan;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

.lioncontainer {
    background-image: url('./animaux_zoo/lion.jpg');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    animation: changeBackground 45s infinite;
}

@keyframes changeBackground {
    0% {
        background-image: url('/animaux_zoo/lion.jpg');
    }
    33.33% {
        background-image: url('./animaux_zoo/suiteelephant.jpg');
    }
    66.66% {
        background-image: url('./photo-habitat/marais2.jpg');
    }
    100% {background-image: url('./animaux_zoo/lion.jpg')
    }
}


