* {
    margin:0;
    padding:0; 
}

.text  {
    font-family: JejuHallasan;
    color: white;
}

#logo-figma img {
    display: flex;
    position: relative;
    margin-left: 40px;
    top:50px;
}

.width-frontsize {
    width: 1632px;
    height: 918px;
    background-size: cover;
}

header {
    background-image: url('./animaux_zoo/lion.webp');
}

#habitat {
    background-image: url('./animaux_zoo/suiteelephant.webp');
}


#avis-client {
    background-image: url('./photo-habitat/marais2.webp');
}

h1,h2,h3{
    display:none;
}


#menu-site{
    display: flex;
    flex-direction: column;
    float: right;
    align-items: center;
    line-height: 50px;
    margin-right: 30px;
    margin-top: 150px;
}

#menu-site li{
    list-style: none;
}

#menu-site a{
    text-decoration: none;

    font-size: 20px;
    top: 50px;

}

ul #image-deco img{
    background-image: url("./animaux_zoo/python-royal.jpg");
    width: 179px;
    height: 200px;
    float: inline-end;
    position: absolute;
    top: 0;
    right: auto;
}


#menu-service {
    display: flex;
    flex-wrap: wrap;
    width: 204px;
    margin-top: 430px;
    margin-left: 20px;
}

#photo-zebre:first-child {
    width: 100%;
}


.petite-image {
    height: 85px;
    width: 100px;
}


#photo-train {
    margin-left: 4px;
}

#text-service p  {
    margin-left: 250px;
    font-size: 20px;


}
#text-service {
    display: flex;
    flex-direction: column;
    margin-top: -200px;
    line-height: 2;
}


#habitat nav li {
    display: flex;
    position: relative;
    float: left;
    width: 100%;
}

#habitat nav li img {
    display: flex;
    width: 148.75px;
    height: 97.75px;   
}

#habitat p {
    align-self: center;
    margin:10px;
    font-size: 20px;
}

#habitat  nav {
    display: flex;
    position: center;
    flex-direction: column;
    float: left;
    width: 100%;
    margin-top: 577.15px;
    margin-left: 100px;
}

#avis-client a{
    text-decoration: none;
    font-size: 20px;
}

#avis-client p {
    display: flex;
    position: relative;
    margin-top: 150px;
    margin-left: 100px;
}