* {
    margin:0;
    padding:0; 
}


#logo-figma img {
    display: flex;
    position: relative;
    margin-left: 40px;
    top:50px;
}

.width-frontsize {
    width: 1632px;
    height: 918px;
    background-size: cover;

}

header {
    background-image: url('./animaux_zoo/lion.webp');
}

#fondecrandeux {
    background-image: url('./animaux_zoo/suiteelephant.webp');
}
#fondecrantrois {
    background-image: url('./photo-habitat/marais2.webp');
}

h1,h2,h3{
    display:none;
}


header nav #menu-service{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    float: right;
    align-items: center;
    line-height: 50px;
    margin-right: 30px;
    margin-top: 100px;
}

header nav #menu-service li a{
    font-family: JejuHallasan;
    color: white;
    font-size: 25px;
    font-weight: 285;
    margin-top: 50px;
}



#fondecrandeux  nav li {
    display: flex;
    position: relative;
    float: left;
    width: 100%;
}


#fondecrandeux  nav li img {
    display: flex;
    width: 148.75px;
    height: 97.75px;   
}

#fondecrandeux p {
    align-self: center;
    color: white;
    margin:10px;
    font-size: 20px;
    font-family: JejuHallasan;
}

#fondecrandeux  nav {
    display: flex;
    position: center;
    flex-direction: column;
    float: left;
    width: 100%;
    margin-top: 577.15px;
    margin-left: 50px;
}
